In [121]:
# imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [122]:
# load in datasets 
arctic_greenland = pd.read_csv('Arctic_Ocean__Greenland_sea_dataset.csv', encoding='latin1')
indian = pd.read_csv('Indian_Ocean_Dataset.csv', encoding='latin1')
mediterranean = pd.read_csv('Mediterranean_Sea_Dataset.csv', encoding='latin1')
north_atlantic = pd.read_csv('North_Atlantic_Dataset.csv', encoding='latin1')
north_pacific = pd.read_csv('North_Pacific_Ocean_Dataset.csv', encoding='latin1')
south_atlantic = pd.read_csv('South_Atlantic_Dataset.csv', encoding='latin1')
south_pacific = pd.read_csv('South_Pacific_Dataset.csv', encoding='latin1')
southern = pd.read_csv('Southern_Ocean_dataset.csv', encoding='latin1')

In [123]:
# combine the oceans
atlantic = pd.concat([north_atlantic, south_atlantic])
pacific = pd.concat([north_pacific, south_pacific])
#world_oceans = pd.concat([arctic_greenland, indian, mediterranean, north_atlantic, north_pacific, south_atlantic, south_pacific, southern])

In [124]:
all_oceans = [arctic_greenland, indian, mediterranean, atlantic, pacific, southern]

# counts total points
rows = 0
for ocean in all_oceans:
    rows = rows + len(ocean)
    
print(rows)

11127

In [125]:
# groups by ocean & date, filters out unnecessary columns, drops null values
world = pd.concat(all_oceans)
world = world.filter(['Oceans', 'Microplastics Measurement (density)', 'Unit', 
                      'Concentration Class', 'Latitude', 'Longitude', 'Date'])
world['Date'] = pd.to_datetime(world['Date'])
world = world.sort_values(by=['Oceans', 'Date'])
world = world.dropna()
world = world.reset_index(drop=True)

In [126]:
# export to csv
world.to_csv('world_oceans.csv', index=True)

In [118]:
# Checks the NaN values, which appear in Microplastics Measurement (Don't RUN)
world1 = pd.concat(all_oceans)
world1 = world1.filter(['Oceans', 'Microplastics Measurement (density)', 'Unit', 
                        'Concentration Class', 'Latitude', 'Longitude', 'Date'])
rows_with_nan = world1[world1.isna().any(axis=1)]
rows_with_nan = rows_with_nan.filter(['Microplastics Measurement (density)', 'Oceans', 'Beach Location', 'State', 'Country',
                                     'Sampling Method'])
value_counts = rows_with_nan['Oceans'].value_counts()
print(value_counts)

columns_with_nan = rows_with_nan.columns[rows_with_nan.isna().any()]
print(columns_with_nan)
# world = world.sort_values(by='Oceans')
# print(world)

Pacific Ocean     366
Indian Ocean        5
Atlantic Ocean      3
Name: Oceans, dtype: int64
Index(['Microplastics Measurement (density)', 'Oceans'], dtype='object')