In [2]:
# Importing packages for ML Training
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels as sm
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.linear_model import SGDRegressor
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
%matplotlib inline

In [17]:
#dataList = [0.5, 0.001, 1, 0.9, 0.007, 1.1, 0.1, 0.23, 0.29, 0.3, 0.4, 0.7 ]
#numCols = 6
#plt.hist(dataList, numCols)
#plt.show()
# Loading dataset
encodings = []
na = pd.read_csv('../Datasets/North Atlantic Dataset.csv', encoding= "latin-1")

In [15]:
na.head()

,OBJECTID,Oceans,Regions,SubRegions,Country,State,Beach Location,Marine Setting,Ocean Bottom Depth (m),Sediment Sample Depth (m),...,Symbology,Latitude,Longitude,Date,Mesh Size (mm),Standardized Nurdle Amount,Water Sample Depth (m),GlobalID,x,y
0,3171,Atlantic Ocean,NaN,NaN,NaN,NaN,NaN,Ocean water,NaN,NaN,...,"Ocean Surface, Medium, 0.005-1 pieces/m3",33.55,-61.18,10/22/1993,0.335,NaN,0.0,315fc437-fb12-4a06-8677-9dc8ddca416b,-61.18,33.55
1,3170,Atlantic Ocean,NaN,NaN,NaN,NaN,NaN,Ocean water,NaN,NaN,...,"Ocean Surface, Medium, 0.005-1 pieces/m3",33.55,-61.18,10/22/1993,0.335,NaN,0.0,3cff013f-e8ca-4123-883a-6a82c6a7f453,-61.18,33.55
2,1786,Atlantic Ocean,NaN,NaN,NaN,NaN,NaN,Ocean water,NaN,NaN,...,"Ocean Surface, Low, 0.0005-0.005 pieces/m3",31.45,-61.06,4/18/2000,0.335,NaN,0.0,f2597fda-30db-4a63-bfa8-e89a49a6cdaa,-61.06,31.45
3,3932,Atlantic Ocean,NaN,NaN,NaN,NaN,NaN,Ocean water,NaN,NaN,...,"Ocean Surface, Medium, 0.005-1 pieces/m3",32.17,-61.73,10/27/1997,0.335,NaN,0.0,f3109b52-f76e-4ac6-b79d-8842ee42eca4,-61.73,32.17
4,2316,Atlantic Ocean,NaN,NaN,NaN,NaN,NaN,Ocean water,NaN,NaN,...,"Ocean Surface, Medium, 0.005-1 pieces/m3",31.83,-61.32,10/20/1986,0.335,NaN,0.0,cc258c65-225d-4d70-9e0d-36f1130304d4,-61.32,31.83

In [19]:
na.isnull().sum

<bound method DataFrame.sum of       OBJECTID  Oceans  Regions  SubRegions  Country  State  Beach Location  \
0        False   False     True        True     True   True            True
1        False   False     True        True     True   True            True
2        False   False     True        True     True   True            True
3        False   False     True        True     True   True            True
4        False   False     True        True     True   True            True
...        ...     ...      ...         ...      ...    ...             ...
3330     False   False    False        True     True   True            True
3331     False   False    False        True     True   True            True
3332     False   False    False        True     True   True            True
3333     False   False    False        True     True   True            True
3334     False   False    False        True     True   True            True

      Marine Setting  Ocean Bottom Depth (m)  Sediment Sample Depth (m)  ...  \
0              False                    True                       True  ...
1              False                    True                       True  ...
2              False                    True                       True  ...
3              False                    True                       True  ...
4              False                    True                       True  ...
...              ...                     ...                        ...  ...
3330           False                    True                       True  ...
3331           False                    True                       True  ...
3332           False                    True                       True  ...
3333           False                    True                       True  ...
3334           False                    True                       True  ...

      Symbology  Latitude  Longitude   Date  Mesh Size (mm)  \
0         False     False      False  False           False
1         False     False      False  False           False
2         False     False      False  False           False
3         False     False      False  False           False
4         False     False      False  False           False
...         ...       ...        ...    ...             ...
3330      False     False      False  False           False
3331      False     False      False  False           False
3332      False     False      False  False           False
3333      False     False      False  False           False
3334      False     False      False  False           False

      Standardized Nurdle Amount  Water Sample Depth (m)  GlobalID      x  \
0                           True                   False     False  False
1                           True                   False     False  False
2                           True                   False     False  False
3                           True                   False     False  False
4                           True                   False     False  False
...                          ...                     ...       ...    ...
3330                        True                   False     False  False
3331                        True                   False     False  False
3332                        True                   False     False  False
3333                        True                   False     False  False
3334                        True                   False     False  False

          y
0     False
1     False
2     False
3     False
4     False
...     ...
3330  False
3331  False
3332  False
3333  False
3334  False

[3335 rows x 36 columns]>

In [ ]:
#Preprocessing
X = na.iloc[:,1:2].values  #features
y = na.iloc[:,2].values  # Target variable